@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');

*{
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body{
  font: 16px 'Montserrat', Sans-serif, Helvetica;
  line-height: 1;
}

header, main, footer, article, nav, section, figcaption, figure{
  display: block;
}

ol, ul, li{
  list-style: none;
}

a{
  display: block;
  color: #000;
  text-decoration: none;
}

input, textarea{
  width: 100%;
  color: #3f51b5;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #aaa;
}

::-moz-input-placeholder, ::-moz-textarea-placeholder{
  color: #3f51b5;
}

::-webkit-input-placeholder, ::-webkit-textarea-placeholder{
  color: #3f51b5;
}

h3{
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  color: #3f51b5;
  /* 진하게 해제 */
  font-weight:normal;
  font-size: 24px;
}

fieldset {
  border: 0;
}

p{
  font-size: calc(14px + 0.5vw);
  line-height: 1.6;
  text-align: center;
}

address{
  font-style: normal;
}