@charset "UTF_8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


.contents_wrap{
    width: 100%;
    margin: 0 auto;
}

.container{
    width: 79.16%;
    padding: 0;
    margin: 0 auto;
}

@media all and (min-width:850px){
    .container{
    width: 60.6%;
    max-width: 1180px;
    padding: 0 auto;
    margin: 0 auto;
    /* background-color: orange; */
    }
}
/* ================================== header =================================== */
/****** 모바일 ******/
header{
    position: relative;
    width: 100%;
    height: 60px;
    /* padding: 20px 5%; */
}

.logo{
    position: absolute;
    left: 5%;
    top: 15px;
}

.logo a{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.main-wrap{
    /* display: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: white
}

.PC_gnb{
    display: none;
}

.gnb{
    display: flex;
    flex-direction: column;
}

.gnb li{
    border-bottom: 1px solid black;
}

.gnb li a{
    padding: 14px 0 14px 5%;
    font-size: 14px;
    color: black;
}

.gnb li a:hover{
    color: #17b5a5;
}

.menu-toggle-btn{
    position: absolute;
    right: 5%;
    top: 25px;
    width: 20px;
    cursor: pointer;
}

.menu-toggle-btn span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}

.menu-toggle-btn span:nth-child(2){
    margin: 5px 0;
}

@media all and (min-width:850px){
    body{
        background:url(../images/p-images/Artboard\ 2.png);
        background-color: black;
        background-repeat: repeat-y;
        background-size: 100%;
    }
    
    .main-wrap{
        display: block;
        position: absolute;
        top: 23px;
        right: 5%;
        width: 360px;
        background-color: transparent;
    }

    .gnb{
        display: none;
    }

    .gnb > li{
        display: none;
    }

    .gnb > li > a{
        display: none;
    }

    .PC_gnb{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .PC_gnb > li{
        border-bottom: none;
    }

    .PC_gnb > li > a{
        padding: 0;
        font-size: 16px;
        color: white;
    }

    .PC_gnb > li > a:hover {
        color: #17b5a5;
    }

    .menu-toggle-btn{
        display:none;
    }

    .logo{
        left: 64px;
    }

    .main-wrap{
        right: 64px;
    }
}


/* ================================== main =================================== */
/****** 모바일 ******/
    .subTit{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 24px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    colgroup col:first-child,
    colgroup col:last-child{
        width: 20%;
    }

    table.notice_list{
        width: 100%; 
        min-width: 0;
        border-top: 1px solid #707070; 
        border-bottom: 1px solid #707070;
    }

    table.notice_list th{
        height: 40px;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 30px;
        color: white;
    }

    table.notice_list td{
        text-align: center;
        color: white;
        white-space: nowrap;
        padding-bottom: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    table.notice_list td:nth-child(2),
    table.notice_list td:last-child{
        font-size: 15px;
    }
    
    table.notice_list td span{
        display: none;
    }

    td.left{
        max-width: 180px;
    }

    .left a{
        max-width: 180px;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .order {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    
    .order_bt button {
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }

    table td.color-r {
        color: red;
    }

    table td.color-g {
        color: #707070;
    }

/****** pc ******/
@media all and (min-width:850px){
    .subTit{
        font-size: 30px; 
        margin-top: 200px;
        margin-bottom: 150px;
    }
    
    colgroup col:first-child,
    colgroup col:last-child{
        width: 10%;
    }

    table.notice_list th{
        height: 45px; 
        padding-bottom: 30px;
    }
        
    td.left{
        max-width: 100%;
    }

    .left a{
        max-width: 100%;
    }

    table.notice_list td{
        padding-bottom: 30px; 
        padding: 0 17.5px 30px; 
        text-align: center;
        color: white;
    }
    
    table.notice_list td span{
        display: inline;
    }

    table td.color-r {
        color: red;
    }
    
    table td.color-g {
        color: #707070;
    }
    
    table.notice_list td.left{
        text-align: left;
    }
    
    .order {
        display: block;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 150px;
    }
    
    .order_bt button {
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: white;
    }
}




/* ================================== footer =================================== */
.footerWrap{
    width: 79.164%;
    margin: 0 10.416%;
    height: 100px;
    background-color: transparent;
}

.f1st{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin: 30px 0;
}

.fLogo{
    font-size: 30px;
    line-height: 30px;
}

.fLine{
    width: 1px; height: 30px;
    border: 1px solid white;
}

.footerWrap h4{
    font-size: 20px;
    color: white;
}

.footerWrap h6{
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: white;
}

.footerPos h4{
    place-self: center;
}

.footerRightMenu{
    display: none;
    width: 100%;
    height: 100px;
    padding: 7px 0;
}

.footerRightMenu h6{
    font-size: 12px;
    text-align: center;
}

/* pc */


@media all and (min-width:850px){
    .footerWrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        height: 150px;
        max-width: 1180px;
        margin:0 auto;
    }
    
    .f1st{
        display: flex;
        justify-content: left;
        width: 100%;
        max-width: 420px;
        margin: 23px 0 26px 0;
    }
    
    .fLogo{
        font-size: 30px;
        line-height: 30px;
    }
    
    .fLine{
        width: 1px; height: 30px;
        border: 1px solid white;
        margin: 0 30px;
    }
    
    .footerWrap h4{
        font-size: 20px;
    }
    
    .footerWrap h6{
        margin-top: 5px;
        font-size: 13px;
    }
    
    .footerRightMenu{
        display: block;
        width: 100%;
        margin-bottom: 26px;
    }
    
    .footerRightMenu h6{
        font-size: 12px;
        text-align: right;
    }
}
