@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font: 16px "Noto Sans KR";
    line-height: 1;
    background-color: black;
  }

  header, main, footer, article, nav, section, figcaption, figure{
    display: block;
  }

  ol, ul, li{
    list-style: none;
  }

  a{
    display: block;
    color: white; /*나중에 white로*/
    text-decoration: none;
  }

  input, textarea{
    width: 100%;
    color: black; /*나중에 white로*/
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #aaa;
  }

.container{  
    /* 모바일/태블릿용 */
    width: 79%;
    /* pc용 @media는 1440px, max-width에는 좌우 패딩만큼 빼 주기 */
    max-width: 1280px;
    /* padding: 0 10px; */
    margin: 0 auto;
    /* background-color: orange; */
  }

  /* 헤더부분 */
  header{
    position: relative;
    width: 100%;
    height: 60px;
    /* padding: 20px 5%; */
  }
  
  .logo{
    position: absolute;
    left: 5%;
    top: 15px;
  }
  
  .logo a{
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
  
  .main-wrap{
    /* display: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: white
  }

  .PC_gnb{
    display: none;
  }
  
  .gnb{
    display: flex;
    flex-direction: column;
  }
  
  .gnb li{
    border-bottom: 1px solid black;
  }
  
  .gnb li a{
    padding: 14px 0 14px 5%;
    font-size: 14px;
    color: black;
  } 
  
  .menu-toggle-btn{
    position: absolute;
    right: 5%;
    top: 25px;
    width: 20px;
    cursor: pointer;
  }
  
  .menu-toggle-btn span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  
  .menu-toggle-btn span:nth-child(2){
    margin: 5px 0;
  }
  @media all and (min-width:850px){
    body{
      background:url(../images/p-images/Asset\ 1.png);
      background-color: black;
      background-repeat: repeat-y;
      background-size: 100%;
  
    }
    .main-wrap{
        display: block;
        position: absolute;
        top: 23px;
        right: 5%;
        width: 360px;
        background-color: transparent;
      }

    .gnb{
        display: none;
      }
    .gnb > li{
      display: none;
    }

    .gnb > li > a{
      display: none;
    }
    
    .PC_gnb{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    .PC_gnb > li{
        border-bottom: none;
      }
    .PC_gnb > li > a{
        padding: 0;
        font-size: 16px;
        color: white;
      }
    .menu-toggle-btn{
      display:none;
      }
    .logo{
      left: 64px;
    }
    .main-wrap{
      right: 64px;
    }
  }
  /* 메인부분 */
  /* 모바일부분 */
  

  .item .item-list{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
  }

  .item .item-list > h2{
    font-size: 30px;
    color: white;
  }  
 
  .item .container .list .item-contents {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px;
    margin-bottom: 80px; */ 
  }

  .item .container .list .item-contents .box {
    width: 100%; height: 480px;
    background-color: #FE5E54;
    margin-top: 5%;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    /* border: 5px solid white; */
  }
  
  .item .container .list .item-contents .box:nth-child(1){
    margin-top: 20px;
  }
  
  .item .container .list .item-contents .box .box_img{
    width : 57.89473684210526%;
    height: 52.38095238095238%;
    padding: 20px 0 0 0;
  }

  .item .container .list .item-contents .box h3 {
    font-size: 16px;
    color: white;
    margin-bottom: 17px;
    margin-top: 10px;
    font-weight: normal;
  }

  .item .container .list .item-contents .box .icon{
    width: 100%;
    height: 20%;
    margin-top: 15px;
  }
  
  .material-symbols-outlined{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    line-height: normal;
  }

  button{
    background-color: black;
    width: 80%;
    height: 10%;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    margin-top: 5px;
  }

  .item_2 .container .list .item-contents .box{
    /*display: none; more 버튼 클릭시 이걸로 */
    width: 100%; height: 480px;
    background-color: #FE5E54;
    margin-top: 5%;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
  }

  .item_2 .container .list .item-contents .box:nth-child(1){
    margin-top: 5%;
  }


  .item .container .list .item-contents .box2:nth-child(1){
    margin-top: 0;
  }

  .more{
    text-align: center;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 150px;
  }

  /* pc부분 */
  @media all and (min-width:850px){
  .item .item-list{
    margin-top: 150px;
    }
    .item .item-list > h2{
      display: none;
    }  

 .item .container .list .item-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    place-items: center;
    /* margin-top: 150px;
    margin-bottom: 150px; */
    }

  .item .container .list .item-contents .box {
    width: 23%; height: 365px;
    text-align: center;
  }
  .item .container .list .item-contents .box:nth-child(1){
    margin-top: 5%;
  }

  .item .container .list .item-contents .box .icon{
    width: 100%;
    height: 10%;
  }

  button{
    font-size: 1.5vw;
    height: 13%;
    margin-top: 10px;
    font-size: 1vw;
  }

} 

/* -- 푸터 -- */

.footerWrap{
  width: 79.164%;
  margin: 0 10.416%;
  height: 100px;
}

.f1st{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  margin: 30px 0;
}

.fLogo{
  font-size: 30px;
  line-height: 30px;
}

.fLine{
  width: 1px; height: 30px;
  border: 1px solid white;
}

.footerWrap h3{
  margin-right: 10px;
  font-size: 20px;
  color: white;
}

.footerWrap p{
  margin-top: 5px;
  font-size: 13px;
  color: white;
}

.footerRightMenu{
  display: none;
  width: 100%;
  height: 100px;
  padding: 7px 0;
}

.footerRightMenu p{
  font-size: 12px;
  text-align: center;
  color: white;
}

/* pc */


@media all and (min-width:850px){
  .footerWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 150px;
    max-width: 1180px;
    margin:0 auto
  }
  
  .f1st{
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 420px;
    margin: 23px 0 26px 0;
  }
  
  .fLogo{
    font-size: 30px;
    line-height: 30px;
  }
  
  .fLine{
    width: 1px; height: 30px;
    border: 1px solid white;
    margin: 0 30px;
  }
  
  .footerWrap h3{
    font-size: 20px;
    color: white;
  }
  
  .footerWrap p{
    margin-top: 5px;
    font-size: 13px;
    
  }
  
  .copy{
    display: block;
    max-width: 420px;
  }

  .footerRightMenu{
    display: block;
    width: 100%;
    /* margin-top: 38px; */
    margin-bottom: 26px;
  }
  
  .footerRightMenu p{
    font-size: 12px;
    text-align: right;
    color: white;
  }
}